*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  grid-column-end: span 4;
  padding-bottom: 30px;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80vw;
  /*height: 80vw;*/
  margin: auto;
}

img {
  height: 19vw;
  width: 19vw;
}

.person-block {
  padding-bottom: 30px;
  text-align: center;
  width: 19vw;
  font-size: 10pt;
}

.fullname {
  text-transform: uppercase;
  font-weight: bold;
  width: 13vw;
  margin: auto;
  border-bottom: 1px solid black;
  line-height: 2;
  font-size: 12pt;

}

.email {
  text-transform: uppercase;
  color: lightgrey;
}

.street {
  padding-top: 10px;
  text-transform: capitalize;
  line-height: .5;
}

.city {
  text-transform: capitalize;
  line-height: .5;
}

.phone {
  text-transform: capitalize;
  padding-bottom: 10px;
  line-height: .5;

}


.ssn {
  color: transparent;
   text-shadow: 0 0 5px rgb(50,205,50);
}
